<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <link rel="stylesheet" href="/stylesheets/screen.css" type="text/css" media="screen, projection" />
   <title>{{ page.title }}</title>
</head>
<body>

<div id="root">
<header role="banner">
  <nav role="navigation">
    <ul class="menu">
      <li><a href="/posts">Posts</a></li>
      <li><a href="/about">About Us</a></li>
    </ul>
  </nav>
</header>

{{ content }}

<footer role="contentinfo" id="footer">
  <section class="contact">
    <p>@timplunkett and @dead_arm</p>
  </section>
</footer>

</body>
</html>
